* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none; }

@font-face {
  font-family: 'ubuntucondensed';
  src: url("../fonts/ubuntu-c-webfont.woff2") format("woff2"), url("../fonts/ubuntu-c-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ubuntulight';
  src: url("../fonts/ubuntu-l-webfont.woff2") format("woff2"), url("../fonts/ubuntu-l-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ubuntumedium';
  src: url("../fonts/ubuntu-m-webfont.woff2") format("woff2"), url("../fonts/ubuntu-m-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
.wrapper {
  width: 1160px;
  margin: 0 auto; }

/* HEADER */
.header-block {
  min-width: 1160px;
  overflow: hidden;
  margin-top: 25px;
  /* Links */ }
  .header-block .logo {
    float: left;
    width: 200px; }
    .header-block .logo .logo__img {
      float: left;
      margin-right: 5px; }
    .header-block .logo .logo__title {
      color: #434343;
      font-family: "ubuntumedium";
      font-size: 25px;
      padding: 0;
      margin: 0;
      line-height: 20px; }
    .header-block .logo .logo__subtitle {
      color: #333333;
      font-family: "ubuntulight";
      font-size: 14px;
      padding: 0;
      margin: 0;
      font-variant: small-caps;
      letter-spacing: 3px; }
  .header-block .socials {
    float: right;
    width: 145px;
    padding: 10px 0; }
    .header-block .socials:after {
      display: block;
      content: '';
      clear: both; }
    .header-block .socials .socials__item {
      display: inline-block; }
      .header-block .socials .socials__item .socials__link {
        display: block;
        width: 25px;
        height: 20px;
        background: url("../img/links.png") 0 0 no-repeat; }
        .header-block .socials .socials__item .socials__link:hover {
          background-position: 0px -20px; }
      .header-block .socials .socials__item .socials__link_twitter {
        background-position: -35px 0px; }
        .header-block .socials .socials__item .socials__link_twitter:hover {
          background-position: -35px -20px; }
      .header-block .socials .socials__item .socials__link_rss {
        background-position: -65px 0px; }
        .header-block .socials .socials__item .socials__link_rss:hover {
          background-position: -65px -20px; }
      .header-block .socials .socials__item .socials__link_linkedin {
        background-position: -100px 0px; }
        .header-block .socials .socials__item .socials__link_linkedin:hover {
          background-position: -100px -20px; }
      .header-block .socials .socials__item .socials__link_skype {
        background-position: -132px 0px; }
        .header-block .socials .socials__item .socials__link_skype:hover {
          background-position: -132px -20px; }

/*navbar*/
.main-block {
  width: 1160px;
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden; }
  .main-block .navbar {
    width: 700px;
    float: left; }
    .main-block .navbar:after {
      display: block;
      content: '';
      clear: both; }
    .main-block .navbar .navbar__list {
      height: 50px; }
      .main-block .navbar .navbar__list .navbar__item {
        float: left; }
      .main-block .navbar .navbar__list .navbar__link {
        color: #fff;
        font-family: "ubuntucondensed";
        font-size: 15px;
        padding: 0 39px;
        margin: 0;
        display: block;
        line-height: 50px;
        text-transform: uppercase;
        border-right: 1px solid #000; }
        .main-block .navbar .navbar__list .navbar__link:hover {
          color: #f4b60d; }
      .main-block .navbar .navbar__list .navbar__link--active {
        background: #248cec; }
  .main-block .navbar__search {
    overflow: hidden;
    position: relative;
    margin-right: 10px; }
    .main-block .navbar__search:after {
      position: absolute;
      right: 10px;
      top: 15px;
      display: block;
      opacity: .4;
      content: url("../img/search.png"); }
  .main-block .navbar__input {
    color: #fff;
    padding: 0px 30px 0px  7px;
    float: right;
    background: #35383c;
    width: 200px;
    line-height: 38px;
    border: 1px solid #000;
    margin: 5px 0px; }
    .main-block .navbar__input:focus {
      border: 1px solid #fff; }

/*Slider*/
.slider {
  margin-top: 40px;
  width: 100%; }
  .slider .wrapper {
    position: relative;
    overflow: hidden; }

/*Articles */
.articles {
  min-width: 1160px;
  overflow: hidden;
  margin: 50px 0; }
  .articles .articles__infobox {
    width: 380px;
    height: 200px;
    float: left; }
    .articles .articles__infobox .articles__number {
      color: #ccc;
      font-family: "ubuntumedium";
      font-size: 80px;
      padding: 0;
      margin: -20px 0 0 0;
      height: 100%;
      float: left; }
    .articles .articles__infobox .articles__content {
      width: 320px; }
      .articles .articles__infobox .articles__content .articles__title {
        font-family: "ubuntumedium";
        display: block; }
        .articles .articles__infobox .articles__content .articles__title:before {
          display: block;
          content: '';
          width: 35px;
          height: 32px;
          overflow: hidden;
          margin-bottom: 10px;
          background: url("../img/icons.png") 0 0 no-repeat; }
      .articles .articles__infobox .articles__content .articles__title--techno:before {
        background-position: -36px 0px; }
      .articles .articles__infobox .articles__content .articles__title--support:before {
        background-position: -70px 0px; }
      .articles .articles__infobox .articles__content .articles__text {
        color: #ccc;
        font-family: Arial;
        font-size: 14px;
        padding: 10px 0 0 0;
        margin: 0;
        display: block; }
      .articles .articles__infobox .articles__content .articles__link {
        color: #000;
        font-family: "ubuntumedium";
        font-size: 14px;
        padding: 10px 0 0 0;
        margin: 0;
        display: block;
        font-weight: 400; }
        .articles .articles__infobox .articles__content .articles__link:hover {
          color: #00f; }
        .articles .articles__infobox .articles__content .articles__link:hover .article__arrow {
          color: #ccc; }
        .articles .articles__infobox .articles__content .articles__link .article__arrow {
          display: inline-block;
          color: #00f; }

.services {
  min-width: 1160px;
  background: rgba(0, 0, 0, 0.8) 0 0 repeat; }
  .services .service__title {
    color: #fff;
    font-family: "ubuntumedium";
    font-size: 24px;
    padding: 15px;
    margin: 0; }
  .services .services__infoblock {
    position: relative;
    display: inline-block;
    width: 260px;
    height: 290px;
    margin: 13px; }
    .services .services__infoblock:hover .services__link {
      color: #f4b60d; }
    .services .services__infoblock:hover .services__hover {
      cursor: pointer;
      background: url("../img/plus.png") rgba(50, 150, 250, 0.8) center center no-repeat;
      transition: background-color 0.5s cubic-bezier(0.46, 0.02, 0.19, 1.58); }
    .services .services__infoblock .services__hover {
      width: 260px;
      height: 260px;
      position: absolute; }
    .services .services__infoblock .services__link {
      color: #fff;
      font-family: "ubuntumedium";
      font-size: 17px;
      padding: 0;
      margin: 0;
      display: block;
      text-align: center; }

.blog {
  background: #f7f7f7;
  min-width: 1160px; }
  .blog:after {
    display: block;
    content: '';
    clear: both; }
  .blog .blog__title {
    color: #000;
    font-family: "ubuntumedium";
    font-size: 20px;
    padding: 20px;
    margin: 0 0 0 15px; }
  .blog .blog__news {
    float: left; }
    .blog .blog__news .blog__newsblock {
      width: 580px;
      margin-bottom: 20px; }
    .blog .blog__news .blog__pic {
      float: left;
      width: 180px; }
      .blog .blog__news .blog__pic:after {
        display: block;
        content: '';
        clear: both; }
    .blog .blog__news .blog__content {
      width: 400px;
      height: 200px;
      display: inline-block; }
      .blog .blog__news .blog__content .blog__content-title {
        margin-top: 10px; }
        .blog .blog__news .blog__content .blog__content-title a {
          color: #000;
          font-family: "ubuntumedium";
          font-size: 17px;
          padding: 0;
          margin: 0; }
          .blog .blog__news .blog__content .blog__content-title a:hover {
            color: #63b4f5; }
      .blog .blog__news .blog__content .blog__content-subtitle {
        margin: 5px 0 15px 0;
        color: #8a8a8a; }
        .blog .blog__news .blog__content .blog__content-subtitle a {
          color: #63b4f5; }
      .blog .blog__news .blog__content .blog__content-text {
        color: #8a8a8a;
        font-family: arial;
        font-size: 17px;
        padding: 0;
        margin: 0;
        display: block; }
  .blog .banners {
    width: 500px;
    float: left; }
    .blog .banners .banners__header {
      color: #000;
      font-family: "ubuntumedium";
      font-size: 20px;
      padding: 20px;
      margin: 0 0 0 15px; }
    .blog .banners .banners__accordion {
      width: 500px;
      height: 400px; }
      .blog .banners .banners__accordion .banners__title {
        font-family: "ubuntumedium";
        font-size: 13px;
        text-transform: uppercase; }

.logos {
  margin: 50px; }
  .logos .logos__img {
    display: inline-block;
    margin: 0 25px; }
    .logos .logos__img:hover {
      cursor: pointer;
      opacity: 0.65;
      transition: opacity 0.6s cubic-bezier(0, 3, 1, 1.5); }

.footer-list {
  padding: 30px 0 50px;
  background: #2a2d32;
  min-width: 1160px; }
  .footer-list:after {
    display: block;
    content: '';
    clear: both; }
  .footer-list .listblock {
    overflow: hidden;
    float: left;
    width: 290px; }
    .footer-list .listblock .listblock__title {
      color: #fff;
      font-family: "ubuntumedium";
      font-size: 18px;
      padding: 5px;
      margin: 20px 0;
      text-transform: uppercase; }
    .footer-list .listblock .listblock__item {
      width: 235px;
      padding: 5px;
      border-top: 1px solid #393c40; }
      .footer-list .listblock .listblock__item .listblock__link {
        color: #828385;
        font-family: Arial;
        font-size: 15px;
        padding: 0;
        margin: 0; }
        .footer-list .listblock .listblock__item .listblock__link:hover {
          color: #257fd3; }
    .footer-list .listblock .listblock__item:first-child {
      border-top: none; }

.copyright {
  background: #35383c;
  overflow: hidden;
  line-height: 50px;
  min-width: 1160px; }
  .copyright .copyright__item {
    margin-right: 30px;
    display: inline-block; }
    .copyright .copyright__item .copyright__img {
      vertical-align: middle;
      opacity: .4; }
    .copyright .copyright__item .copyright__link {
      color: #5b5d61;
      font-family: Arial;
      font-size: 15px;
      padding: 0 10px;
      margin: 0 5px; }
    .copyright .copyright__item .copyright__symbol {
      color: #5b5d61;
      font-family: Arial;
      font-size: 15px;
      padding: 0 10px;
      margin: 0 5px; }
  .copyright .copyright__item:last-child {
    float: right; }

/*# sourceMappingURL=main.css.map */
